/*** GLobal variables  ***/


:root {
    --red: hsla(0, 97%, 63%, 1);
    --dar_blue: hsla(224, 30%, 9%, 1);
    --greyish_blue: hsla(223, 23%, 46%, 1);
    --semi_dark_blue: hsla(223, 36%, 13%, 1);
    --pure_white: hsla(0, 0%, 100%, 1);


    --max-width-mobile: 343px;
    --max-width-tablet: 708px;
    --max-width-desktop: 1110px;

}

/* GLOBAL STYLES **/
html {
    scroll-behavior: smooth;
}

::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: var(--pure_white);

    background-color: var(--dar_blue);

}

/** List Style ***/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Heading L */
h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;

}

/* Heading M */
h3 {
    font-size: 24px;
    line-height: 30px;
}

/* Heading S */
h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

/* Heading XS */
h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

p {

    font-size: 15px;
    line-height: 19px;
}

span {

    font-size: 13px;
    mix-blend-mode: normal;
    opacity: 0.75;
}


/** Interactive Elements **/

/** Search Bar Section Begins **/

.search-container {
    max-width: 540px;
    min-height: 47px;
    /* border: 1px solid red; */
    display: flex;
}

/** search button ***/
.sub-btn {
    border: none;
    background-color: inherit;
}

/** Search Input Field **/
.search-bar {
    width: 100%;

}

/* Styles for the placeholder */
.search-bar::placeholder {


    color: var(--pure_white);
    mix-blend-mode: normal;
    opacity: 0.5;
    background-color: inherit;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}

.search-bar input {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;

    color: var(--pure_white);
    caret-color: var(--red);
}

input {
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

/** Search Field Active ***/
.search-bar:focus {
    caret-color: var(--red);
    color: var(--pure_white);
    border-bottom: 1px solid var(--pure_white);
}

/*** Search Filled **/
input:valid {
    border: none;
    background-color: inherit;
}


/*** Search Bar Style Ends**/
.sign-in {
    max-width: 336px;
}

.m {
    max-width: 336px;
    height: 37px;
    display: flex;
}

.m>input {
    width: 336px;
    height: 100%;
    border-bottom: 1px solid var(--greyish_blue);
    color: var(--pure_white);


    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
}


.input-field.empty {
    border-bottom-width: 1px;
    border-bottom-color: var(--greyish_blue);
}

input.active,
input:focus {
    caret-color: var(--red);
    border-bottom-width: 2px;
    border-bottom-color: var(--pure_white);

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
}

input.error {
    border-bottom-width: 1px;
    border-bottom-color: var(--red);
}

.error-msg {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    /* Red */

    color: #FC4747;
}

/***buttons ***/

.log_in_btn {
    width: 336px;
    height: 48px;
    background-color: var(--red);
    color: var(--pure_white);
    border-radius: 6px;
    outline: none;
    border: none;
}
.log_in_btn:hover{
    background-color: var(--pure_white);
    color:var(--semi_dark_blue) ;
}